---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Tentang - Akurasi Udara">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<h1 class="display-4 fw-bold mb-4">Tentang Saya</h1>
			<p class="lead">Ini adalah halaman tentang saya. Anda bisa menulis biografi singkat di sini.</p>
			<p>Ceritakan tentang latar belakang, minat, atau apa pun yang ingin Anda bagikan kepada pembaca. Bootstrap akan otomatis memberikan format tipografi yang bersih dan mudah dibaca.</p>
		</div>
	</div>
</Layout>